.main_content {
    width: auto;
    height: auto;
    position: relative;
}

.container2{
    float: left;
    padding: 60px;;
}

.container {
    width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
    background-color: #1c1d1f;
    float: left;
}
