.App-logo {
    height: 90px;
    margin-right: 10px;
    margin-left: 20px;
    padding-bottom: 15px;
  }
.Menu {
    display: flex;
    flex-direction: row;
    width: 60%;
    text-align: center;
  }
.App-header {
    background-color: #1c1d1f;
    height: 90px;
    display: flex;
    box-shadow: 2px 2px 5px #999;
    flex-direction: row;
    text-align: center;
  }
.App-link {
    color: #09d3ac;
  }
.Titulo {
    text-align: center;
}
.EventCard{
    text-align: center;
    width: 80%;
    margin-left: 120px;
}

.Center{
    width: 40%;
    text-align: center;
    margin-left: 90px;
}
