.App-logo {
    height: 90px;
    margin-right: 10px;
    margin-left: 20px;
    padding-bottom: 15px;
  }
.Menu {
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: center;
  }
.App-header {
    background-color: #1c1d1f;
    height: 80px;
    display: flex;
    box-shadow: 2px 2px 5px #999;
    flex-direction: row;
    /*text-align: center;*/
  }
.App-link {
    color: #09d3ac;
  }
.Titulo {
    text-align: center;
}
.EventCard{
    text-align: center;
    margin-left: 150px;
    /*background-color: #FFD705*/
}

.Center{
    width: 50%;
    text-align: center;
}

.decorBar{
  width: 100%;
  height: 3px;
  background-color: #FFD705;
}
