.App-logo {
    height: 90px;
    margin-right: 10px;
    margin-left: 20px;
    padding-bottom: 15px;
    width: 80px;
  }
.Menu {
    display: flex;
    flex-direction: row;
    width: 82%;
  }
.App-header {
    background-color: #1c1d1f;
    height: 80px;
    display: flex;
    box-shadow: 2px 2px 5px #999;
    flex-direction: row;
    /*text-align: center;*/
  }
.App-link {
    color: #09d3ac;
  }
.Titulo {
    text-align: center;
}
.Center{
   /* width: 60%;
    max-width: 100px;*/
    margin-left: 30px;
    text-align: center;
}

.decorBar{
  width: 100%;
  height: 3px;
  background-color: #FFD705;
}
.apli{
  width: auto;
  height: auto;
  margin: auto;
}
.Error-Page{
  background-color: #1b1c1d !important;
  align-items: center;
  align-content: center;
  display: flex;
  height: 100vh;
  width: 100%;  
}

.Error-Logo{
  height: 500px;
  width: 500px;
  margin-left: 30%;
  margin-bottom: 0% !important;
}

.Error-Link{
  padding-left: 34%;
  margin-bottom: 0% !important ;
  margin-top: 0% !important;
  background-color: 'yellow';/* #1b1c1d;*/
  text-align: center;
  text-align: center;
  display: flex;
  width: 100%;
  height: 15%;

}
.link{
  color : white;

}