.headerp{
    background-color: #1c1d1f;
    height: 145px;
    display: flex;
    box-shadow: 2px 2px 5px #999;
    flex-direction: row;
}
.Menup{
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: center;    
}
.ellogo{
    height: 90px;
    margin-right: 10px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
}
.titlecss{
    float: left; 
    margin-left: 330px;
    margin-top : 30px;
    color: white;   
}
.decorBar{
    width: 100%;
    height: 3px;
    background-color: #FFD705;
}
.LogOutIcon{
    padding: 40px;
    float: left;
    color: white;
    text-align: center;
}
